*{
    box-sizing: border-box;
}
.box{
    width: 400px;
    height: 350px;
    /* color: green; */
    background-color: blue;
    margin: 60px auto;
    border-width: 40px;
    border-style: dashed;
    border-color: blueviolet;
    /*  */
    border-top-width: 40px;
    border-right-width: 30px;
    border-bottom-width: 20px;
    border-left-width: 10px;

    border-top-style: dotted;
    border-right-style: solid;
    
}