.box1{
    width: 400px;
    height: 400px;
    background-color: red;
    margin: 55px auto;
    position: relative;

}
.box2{
    width: 200px;
    height: 200px;
    background-color: blue;
    position: absolute;
    top: 80px;
    left: 80px;
   
}
.box3{
    width: 100px;
    height: 100px;
    background-color:yellow;
    position: absolute;
    top: 0px;
    left: 0px;
   
}

